@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    font-weight: 600;
    overflow-wrap: break-word;
}

a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(77 124 15) !important;
    text-decoration-thickness: 1;

    // color: #293f4a;
    &:hover {
        color: rgb(77 124 15); // bg-lime-700
    }
}

@media (prefers-color-scheme: dark) {
    a {
        text-decoration-color: rgb(101 163 13) !important;
        &:hover {
            color: rgb(101 163 13); // bg-lime-600
        }
    }
}

.large-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.medium-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.small-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.1rem;

    .logo {
        font-size: 1.3rem;
    }

    ul {
        li {
            padding-right: 0.5rem;
        }
        a,
        button {
            text-transform: uppercase;
        }
    }
}

.main-search-form {
    width: 50%;
    margin: auto;
    position: relative;

    .input {
        width: 100%;
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            pointer-events: none;
        }
    }

    .icon-button {
        position: absolute;
        padding: 0.77rem;
        right: 0;
        cursor: pointer;

        &:hover {
            color: rgb(101 163 13);
        }
    }
}

.flash-success {
    left: calc(50% - 120px);
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}

.note-wrapper {
    max-width: 600px;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}
