body {
    margin: 0;
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    font-weight: 600;
}

a {
    color: #293f4a;
    text-decoration: none;

    :hover {
        color: #337754;
    }
}

.border-bottom {
    border-bottom: 1px #eee solid;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    letter-spacing: 0.1rem;

    * {
        padding: 0.5rem;
    }

    .logo {
        font-size: 1.3rem;
    }

    ul {
        display: flex;
        list-style-type: none;

        a {
            text-transform: uppercase;
        }
    }
}

.main-content {
    max-width: 1400px;
    margin: auto;
    margin-top: 2rem;
}

.large-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.medium-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.small-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.posts {
    display: flex;
    gap: 10px;
    * {
        width: 33%;
    }
}

.post {
    border: 1px #eee solid;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem 0;

    .post-content {
        margin: 1.5rem;
    }
}

.tags {
    display: flex;
    a {
        padding: 3px 5px;
        border-radius: 5px;
        background-color: #eee;
        display: inline-block;
    }
    li + li {
        margin-left: 5px;
    }
}

.go-back-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
    i {
        margin-right: 0.2rem;
    }
}

.shop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #eee;
    display: inline-block;
    color: #333;
    border-radius: 5px 5px 0px 0px;
    border: 1px #eee solid;
}

.panels {
    background: #fff;
    min-height: 200px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

.panel {
    display: none;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.radio {
    display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel {
    display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab {
    background: #fffffff6;
    color: #000;
    border-bottom: none;
}

.wallpapers {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    > * {
        width: 32%;
    }
}

.wallpaper {
    padding: 1rem;
    border: 1px #eee solid;
    border-radius: 5px;
}

.wallpaper-description {
    margin: 0.5rem 0;
}

.wallpaper-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    span {
        white-space: nowrap;
    }
}

.frames {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    > * {
        width: 18%;
    }
}

.frame {
    padding: 1rem;
    border: 1px #eee solid;
    border-radius: 5px;
    img {
        width: 100%;
    }
}

.frame-description {
    margin: 0.5rem 0;
}

.frame-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    span {
        white-space: nowrap;
    }
}

.main-footer {
    opacity: 0.8;
    position: fixed;
    padding: 0.3rem;
    bottom: 0;
    right: 0;
}
