@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    font-weight: 600;
}

a {
    color: #293f4a;
    text-decoration: none;

    &:hover {
        color: #337754;
    }
}

.title {
    margin-bottom: 0.6rem;
}

.large-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.medium-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.small-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.main-nav {
    // position: fixed;
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: auto;
    letter-spacing: 0.1rem;
    // border-bottom: 1px #eee solid;
    // background-color: #fff;

    li {
        padding-right: 0.5rem;
    }

    .logo {
        font-size: 1.3rem;
    }

    ul {
        display: flex;
        list-style-type: none;

        a,
        button {
            text-transform: uppercase;
        }
    }
}

.post {
    border: 1px #eee solid;
    border-radius: 1rem;
    padding: 1.5rem;
    // margin: 1rem 0;

    .post-content {
        margin: 1.5rem;
    }
}

.tags {
    display: flex;
    a {
        padding: 3px 5px;
        border-radius: 5px;
        background-color: #eee;
        display: inline-block;
    }
    li + li {
        margin-left: 5px;
    }
}

.go-back-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
    i {
        margin-right: 0.2rem;
    }
}

.main-search-form {
    width: 50%;
    margin: auto;
    position: relative;

    .input {
        width: 100%;
        border: 1px #eee solid;
        padding: 1rem;
        border-radius: 1rem;
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            pointer-events: none;
        }
    }

    .icon-button {
        position: absolute;
        padding: 1rem;
        right: 0;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }
}

.flash-success {
    position: fixed;
    top: 2rem;
    width: 200px;
    left: calc(50% - 100px);
    background-color: #fff3c8;
    border: 1px #ffe37f solid;
    border-radius: 0.8rem;
    padding: 1rem;
    text-align: center;
}

.back-link {
    text-align: left;
    width: 100%;
}
