@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-header {
    display: flex;
    margin-bottom: 1.5rem;
}

.profile-badge {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #ecf1ff;
    display: inline-block;
}

.profile-picture {
    border-radius: 50%;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.note {
    padding: 1rem;
    border: 1px #eee solid;
    border-radius: 1rem;
    margin: 1rem 0;
}
