@tailwind base;
@tailwind components;
@tailwind utilities;

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #eee;
    display: inline-block;
    color: #333;
    border-radius: 5px 5px 0px 0px;
    border: 1px #eee solid;
}

.panels {
    min-height: 200px;
}

.panel {
    display: none;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.radio {
    display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel {
    display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab {
    background: #fffffff6;
    color: #000;
    border-bottom: none;
}
