@tailwind base;
@tailwind components;
@tailwind utilities;

.shop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #eee;
    display: inline-block;
    color: #333;
    border-radius: 5px 5px 0px 0px;
    border: 1px #eee solid;
}

.panels {
    background: #fff;
    min-height: 200px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

.panel {
    display: none;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.radio {
    display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel {
    display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab {
    background: #fffffff6;
    color: #000;
    border-bottom: none;
}

.wallpapers {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    > * {
        width: 32%;
    }
}

.wallpaper {
    padding: 1rem;
    border: 1px #eee solid;
    border-radius: 5px;
}

.wallpaper-description {
    margin: 0.5rem 0;
}

.wallpaper-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    span {
        white-space: nowrap;
    }
}

.frames {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    > * {
        width: 18%;
    }
}

.frame {
    padding: 1rem;
    border: 1px #eee solid;
    border-radius: 5px;
    img {
        width: 100%;
    }
}

.frame-description {
    margin: 0.5rem 0;
}

.frame-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    span {
        white-space: nowrap;
    }
}
